
*{
  box-sizing: border-box; 
}
body{
  background-color:Pink;
  color:rgb(255, 250, 250);
}
.topnav{
  background-color: rgb(245, 255, 250); 
  overflow: hidden;
}
.topnav a{
  color: MintCream;
  float: left;
  display: block; 
  text-align: center;
  padding: 14px 16px; 
}
.topnav a:hover{
  background-color:rgb(240, 128, 128); 
  color: rgb(219, 112, 147);
}
.column{
  float: left; 
  width: 33.33%; 
  padding: 15px  
}
div {border-style: double;}

